@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

html {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  margin-top: 70px;
}

nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background: rgba(10, 10, 10, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  display: block;
  text-align: center;
  background-color: #E7EBDA;
  padding: 0.5em;
  margin: 2em 20em;
}

header h1{
  text-transform: uppercase;
}

header ul{
  display: inline;
  list-style-type: none;
  margin: 0.5em auto;
  text-align: center;
}

header ul li{
  display: inline;
}

header ul li a{
  text-decoration: none;
  border: solid;
  border-color: #7D8471;
  border-radius: 50px;
  background-color: #7D8471;
  color: white;
  padding: 0.3em;
}

header ul li a:hover{
  background-color: #B8B799;
  border-color: #B8B799;
}

header ul li a:active{
  padding: 0.2em;
}
